body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-container {

  display: flex;
  justify-content: space-between;

}


.link {

  text-decoration: none;
  color : #fff;
  transition: 300ms ease-in-out;
  margin: 0 20px;

}

.link:hover{

  transform: scale(1.2)
}

.link2 {

  text-decoration: none;
  color : #1976D2;
  transition: 300ms ease-in-out;
  margin: 0 20px;
  cursor: pointer;

}

.link2:hover{

  transform: scale(1.1);
  cursor: pointer;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


 



